---
---

// Import the US Web Design System minified CSS
@import "../uswds/css/uswds.min.css";
// Alternatively, you could import the SCSS files directly for USWDS mixins and variables.
//$theme-font-path:   '../uswds/fonts';
//$theme-image-path:  '../uswds/img';
//@import "uswds/uswds";


// This is the main CSS file. You can write your SCSS/SASS in _sass and import
// them here. You probably want to load them _after_ uswds in order to override
// any uswds styles.
@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
ol.breadcrumb {
    display: none;
}
.usa-prose>h1:first-of-type {
    margin-top: 0;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1em;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.usa-footer .logo-links {
    display: none;
}

.usa-alert--warning {
    background-position-y: center;
    margin-bottom: 2rem;
    margin-top: -2rem;
    padding-left: 5rem;
}