{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-sm-12">
                About
            </h1>
        </div>
        <div class="row">
            <p class="col-sm-12">
                BallotAPI is a database of ballot information available via a REST API.
                The ballot API is free and all data is public domain. This is an open source
                project from Code for America's
                <a href="https://github.com/sfbrigade/ballotapi" class="inline-block">SF Brigade</a>.
            </p>
        </div>
    </div>
{% endblock %}

