import sys
import logging
import configparser

config = configparser.ConfigParser()
config.read('ballotapi.ini')

#This sends logging output to sys.stderr which Apache catches and sends to a log file.
logging.basicConfig(stream=sys.stderr)

#Insert the path to ballotapi.
source_path = config.get('path','source_path')
sys.path.insert(0, source_path)

#Use the virtual environment we created for this application.
#This is different than the flask docs because we are using Python3.
activate_this = config.get('path','activate_path')
with open(activate_this) as f:
    code = compile(f.read(), activate_this, 'exec')
    exec(code, dict(__file__=activate_this))

from ballotapi import app as application
